* {
  
 
  color:rgba(255, 255, 255, 0.808);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border:1px solid red;
  background-color: rgb(59, 77, 156);
  font-family: "Raleway", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.322);
}

header h2 {
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 50px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 40px;
 
}
header p {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.315); 
  border-radius: 30px;
  font-size: 20px;
}

.main {
  border-radius: 10px;
  margin: -90px 0px 10px 0px;
  width: 400px;
  min-height: 55vh;
  background-color: rgba(0, 0, 0, 0.322);
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  .main {
    width: 100vw;
    min-height: 60vh;
  }
}

.main img {
  border-radius: 10px;
  height: 66px;
  width: 75px;
}


.kick,
.snare1,
.importTrack,
.record,
.openHihat,
.precussion1,
.precussion2,
.precussion3,
.precussion4,
.play,
.closedHihat,
.snare2 {
  width: 80px;
  height: 64px;
  margin: 10px 5px -10px 5px;
}

.kick:hover,
.kick.active {
  border-radius:5px;
  background-color: rgb(255, 5, 5);
}

.snare1:hover ,
.snare1.active{
  border-radius:5px;
  background-color: rgb(0, 174, 255);
}

.importTrack:hover,
.importTrack.active {
  border-radius:5px;
  background-color: rgb(103, 255, 2);
}

.record:hover,
.record.active {
  border-radius:5px;
  background-color:rgb(246, 255, 0)  ;
}

.openHihat:hover,
.openHihat.active {
  border-radius:5px;
  background-color: rgb(247, 1, 255);
}

.precussion1:hover,
.precussion1.active {
  border-radius:5px;
  background-color: rgb(253, 5, 5);
}


.play:hover,
.play.active {
  border-radius:5px;
  background-color: rgb(255, 217, 1);
}

.closedHihat:hover,
.closedHihat.active {
  border-radius:5px;
  background-color: rgb(204, 0, 255);
}

.snare2:hover,
.snare2.active {
  border-radius:5px;
  background-color: rgb(145, 106, 255);
}

.precussion2:hover,
.precussion2.active {
  border-radius:5px;
  background-color:rgb(255, 4, 4)  ;
}

.precussion4:hover ,
.precussion4.active{
  border-radius:5px;
  background-color: rgb(196, 255, 4);
}
.precussion3:hover,
.precussion3.active {
  border-radius:5px;
  background-color: rgb(255, 238, 4);
}

.track:hover,
.track:active{
  border-radius:5px;
  background-color: rgb(0, 255, 98);
}

.track{
  display:none;
}